# Build output
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.production
.env.local
.env.development

# Editor
.vscode/
.idea/
.DS_Store
Thumbs.db
