---
import BaseLayout from "./BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Nav />
  <main class="px-6 sm:px-10">
    <article class="mx-auto max-w-3xl py-20 sm:py-24">
      <slot />
    </article>
  </main>
  <Footer />
</BaseLayout>
